{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container rounded" style="padding-top: 5%">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header text-white bg-secondary rounded">
                <h4>Log In</h4>
            </div>
            <div class="card-body">
                <form action="/login" method="POST">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Log In</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}