{% extends "base.html" %}
{% block title %}Sign-up{% endblock %}

{% block content %}
<div class="container rounded" style="padding-top: 5%">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header text-white bg-secondary rounded">
                <h4>Sign Up</h4>
            </div>
            <div class="card-body">
                <form action="/sign-up" method="POST">
                    <div class="form-group">
                        <label for="first_name">First Name</label>
                        <input type="text" class="form-control" id="first_name" name="first_name" aria-describedby="emailHelp" placeholder="Enter first name">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="last_name">Last Name</label>
                        <input type="text" class="form-control" id="last_name" name="last_name" aria-describedby="emailHelp" placeholder="Enter last name">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="password2">Confirm Password</label>
                        <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm Password">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}